@CHARSET "UTF-8";
* section{
  padding:0;
  margin:0;
}
body{
  font-family:'Open Sans',sans-serif;
}
/* ページフッター */
#pageFoot {
	border-top: solid 1px #CCCCCC;
	margin-top: 15px;
}

#pageFoot #copyright small {
	font-size: 14px;
	line-height: 1.5;
}

#page {
	width: 980px;
	margin: 0 auto;
}
/* リンク */
a { color: #999966; }
a:hover { color: #996600; }
/* ページヘッター */
#pageHead #siteTitle {
	font-size: 30px;
	line-height: 1.2;
	margin-bottom: 0;
	text-align: center;
}

#pageHead #catchcopy {
	font-size: 12px;
	line-height: 1.5;
	margin-top: 5px;
}

/* グローバルナビ */
#pageHead .globalNavi {
	border: solid #CCCCCC;
	border-width: 1px 0;
	padding: 10px 0;
}

#pageHead .globalNavi ul  {
	margin: 0;
	padding: 0;
}

#pageHead .globalNavi ul:after {
	content: "";
	clear: both;
	display: block;
}


#pageHead .globalNavi ul li {
	list-style: none;
	width: 130px;
	float: left;
	border-left: solid 1px #CCCCCC;
	padding: 0 10px;
	box-sizing: border-box;
	text-align: center;
	font-size: 14px;
	line-height: 1.429;
}

#pageHead .globalNavi ul li:first-child {
	border-left: none;
}

#pageHead .globalNavi ul li a {
	color: inherit;
	text-decoration: none;
	display: block;
	padding: 5px 0;
}

#pageHead .globalNavi ul li a:hover,
#pageHead .globalNavi ul li.current a {
	background-color: #F2F2E5;
}
#header{
	height:90px;
	background-color:rgba(0,0,0,0.3);

}
#logo{
	height:90px;
	width:200px;
	float:left;
	background-color:green;
	text-align:center;
	font-size:24px;
}
#navi{
	height:90px;
	width:810px;
	float:left;
}
#navi li{
	height:90px;
	width:135px;
	float:left;
	text-align:center;
	font-size:24px;
	padding-top:33px;
	display:inline-block;

}
#navi li a{
	text-decoration:none;
	color:#f0f8ff;
}
#navi li a:hover{
	text-decoration:none;
	color:#53B9A8;
}
.n_list{
	height:90px;
	display: inline-block;
	<!--border: 1px solid #f0f8ff;-->
}